<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Page</title>
</head>
<body>
  <div>
    <div>
      <h1 style="text-align: center;">About</h1>
      <p style="text-align: center;">
        Đây là một ứng dụng web CRUD được xây dựng bằng Node.js, Express và EJS.
      </p>
    </div>
    <div style="text-align: center;">
      <button style="font-size: 15px; margin-top: 20px;"><a href="/">Back</a></button>
    </div>
  </div>
</body>
</html>
